@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Inter:wght@300;500;600;900&display=swap');


.tittle{
    font-family: 'Inter', sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 1000px ;
    margin: 0 auto;
}

.tittle h1{
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
}

.carts{
    display: flex;
}

.boxIzquierdo{
    flex: 75%;
}

.box{  
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
.title {
    width: 400px;
    height: 300px;
    margin-top: 0px;
    margin-left: 10px;
    color: #ff7300;


    
}

.content{
    font-family: 'Inter', sans-serif;
    padding: 20px;
    position: relative;
    width: 100%;
    color: #ffffff;
    font-weight: 300;
}

.content p{
    margin-bottom: 50px;
}

.btnArea{
    position: absolute;
    top: 140px;
    right: 20px;
    padding: 10px 20px; 
    background-color: #ff8500;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.6s;
    &:hover{
        background-color: #ff7300;
     }
}

.ladoDerecho {
    flex: 25%;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px;
    max-height: 400px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-weight: 300;
    
}

.ladoDerecho hr{
    margin-bottom: 25px;
}

.ladoDerecho p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}
.ladoDerecho p span{
    text-transform: uppercase;
}

.checkout{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px; 
    background-color: #ff8500;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.6s;
    &:hover{
        background-color: #ff7300;
     }

}

.ladoDerecho input{
    padding: 10px; 
    border-radius: 5px;
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 5px;
    &:focus{
        background-color: #ff7300;
    }
}

.ladoDerecho button{
    padding: 10px 20px; 
    font-family: 'Inter', sans-serif;
    background-color: #ff8500;
    text-align: center;
    padding: 10px 20px; 
    background-color: #ff8500;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    font-weight: 600;
    margin-bottom: 5px;
    transition: 0.6s;
    &:hover{
        background-color: #ff7300;
     }

}

