.notification{
    position: absolute;
    top: 25px;
    right: 135px;
    padding: 13px;
    font-size: 20px;
    background: #3ab65c;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: #ffffff;
    transition: 0.3s ease all;
    &:hover{
        background-color: #2d8a46;
    }
}
