@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Inter:wght@300;500;600&display=swap');

.user{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header{
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 40px;
  width: 100%;
}

header img{
  padding: 10px;
  cursor: pointer;
}
header nav a{
  color: #ffffff;
  display: inline-block;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
   &:hover{
    color: #ff7300;
   }
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  gap: 15px;
}



