*{
    margin: 0;
    padding: 0;
}

.body{
    background-image: url('https://i.ibb.co/R3G2bXL/textura-papel-arena-negra-copia.jpg');
}

.bodymain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}


